---
import Layout from "../layouts/Layout.astro";
import FlagList from "../components/FlagList.astro";
---

<Layout title="World Flags">
  <main>
    <FlagList />
  </main>
</Layout>

<style>
  main {
    width: 100vw;
    text-align: center;
	
  }
</style>
