---
import Layout from "../layouts/Layout.astro";
import FlagList from "../components/FlagList.astro";
---

<Layout title="World Flags">
  <main>
    <FlagList />
  </main>
</Layout>

<style>
  main {
    text-align: center;
    margin: 0 auto;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	
  }
</style>
