---
import { flags } from "../constants/flags.js";
import FlagListItem from "./FlagListItem.astro";
---

<div class="container-list">
  {flags.map((flag) => <FlagListItem img={flag.image} name={flag.name} />)}
</div>

<style>
  .container-list {
    grid-template-columns: repeat(auto-fill, min(200px));
    display: grid;
    width: 80vw;

    gap: 10px;
    align-content: center;

    justify-content: center;
    margin-bottom: 60px;
  }

  @media screen and (max-width: 600px) {
    .container-list {
      grid-template-columns: repeat(2, min(200px));
      width: 100%;

    }
  }

  @media screen and (max-width: 500px) {
    .container-list {
      grid-template-columns: repeat(2, min(200px));
      width: 100vw;
    }
  }

  @media screen and (max-width: 400px) {
    .container-list {
      grid-template-columns: repeat(1, min(200px));
      width: 100vw;
    }
  }
</style>
