---
import CloseIcon from "../icons/closeIcon.astro";
---

<div class="header">
  <h1>🌎 World Flags 🌎</h1>
  <p>How many flags can you guess?</p>

  <button id="openModal">Play Quiz</button>
</div>

<div class="modal-container" id="modalContainer">
  <div class="modal-content">
    <button id="closeModal"><CloseIcon /></button>
    <span id="score"></span>
    <span id="advice"></span>
    <img id="flagImage" src="" alt="Flag" />
    <button id="retryBtn">Try again</button>
    <div id="options"></div>
  </div>
</div>

<style>
  .header {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
  }
  p {
    font-size: 1.1em;
    display: block;
    margin-bottom: 20px;
  }

  .modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 9999;
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    background-color: #f6f6f6;
    padding: 20px 0 40px 0;
    max-height:500px;
    border-radius: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
  }

  #openModal {
    padding: 10px;
    background-color: #c3c7de;
    font-size: 1em;
    border: none;
    font-weight: 600;
    color: white;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    transition: transform ease-in-out 0.1s;
  }

  #openModal:hover {
    transform: scale(1.1);
    border: 2px solid #cfd3ea;
  }
  #closeModal {
    background-color: #f6f6f6;
    border: none;
    cursor: pointer;
    position: absolute;
    font-weight: bold;
    top: 10px;
    right: 10px;
  }

  #retryBtn {
    padding: 10px;
    background-color: #c3c7de;
    font-size: 1em;
    border: none;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin-top: 16px;
    transition: transform ease-in-out 0.1s;
  }
  #retryBtn:hover {
    transform: scale(1.1);
    border: 2px solid #cfd3ea;
  }
  #score {
    margin: 0 !important;
    font-size: 1.1em;
    font-weight: 600;
    text-align: center;
  }
  .img {
    max-width: 300px;
    min-width: 300px;
  }

  #options {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }

  .shake-horizontal {
    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955)
      both;
  }
  @keyframes horizontal-shaking {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(5px);
    }
    50% {
      transform: translateX(-5px);
    }
    75% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }
</style>

  